<!DOCTYPE html>
<html>
	<head>
		<title>Todo List</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>

		<h2 id="">Your current list</h2>
		
		<table class="table" id="listDiv">
		  <tbody>
		  </tbody>
		</table>


<!--
		<h1><%= greeting %></h1>
		<ul>
      <% tasks.forEach(function(task){ %>
      <li><%= task.title %></li>
      <li><%= task.priority %></li>
      <%  }) %>
		</ul>

		<p><%= tasks %></p> -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>

</html>